<div fxLayout="row" fxLayoutWrap="wrap">
  <div 
  fxFlex="100">
    <md-card class="default">
      
      <md-card-content>

        <div class="content-padded">
            客戶服務熱線 : 31840300<br>
            辦公時間 : 星期一至六 10:00 - 19:00<br>
            星期日及公眾假期休息 <br><br>

            旺旺在線查詢 :   
            <div class="alicdn">
                <a href="http://amos.alicdn.com/getcid.aw?spm=a1z10.1.0.0.fjnDlg&amp;v=3&amp;site=cntaobao&amp;groupid=0&amp;s=1&amp;uid=futurefuture328" target="_blank" title="点此可以直接和卖家交流选好的宝贝，或相互交流网购体验，还支持语音视频噢。" data-spm-anchor-id="a1z10.1.0.0"><img border="0" src="http://amos.alicdn.com/online.aw?v=2&amp;uid=coolcool328&amp;site=cntaobao&amp;s=1&amp;charset=utf-8"></a>
            </div>
            辦公時間 :星期一至六10:00 - 18:00<br>
            星期日及公眾假期休息 <br><br>

            客戶服務電郵<br>
            <a href="mailto:info@tochange.com.hk">info@tochange.com.hk</a><br><br>
            
            * 當「黑雨暴雨警告」及「八號或以上暴風訊號」懸掛時，自取點將暫停開放。
        </div>
        
      </md-card-content>
    </md-card>
  </div>
</div>
