<md-card class="p-0">
    <md-card-title class="mat-bg-primary m-0">
        <div class="card-title-text">
            <span>此為你的專屬集運地址，請直接複製以下資料作為運送之用</span>
        </div>
    </md-card-title>
  
    <md-card-content>
        <div fxLayout="row" class="mt-1">
            <div fxFlex="25">
                所在地區*
            </div>
            <div fxFlex>
                中國大陸/廣東省/東莞市/長安鎮
            </div>
        </div>
        <div fxLayout="row">
            <div fxFlex="25">
                詳細地址*
            </div>
            <div fxFlex>
                ( 會員號碼：{{ member_id }} ）長安鎮北源街60號霄邊第二工業園淘轉物流倉庫部
            </div>
        </div>
        <div fxLayout="row">
            <div fxFlex="25">
                郵政編碼
            </div>
            <div fxFlex>
                523850
            </div>
        </div>
        <div fxLayout="row">
            <div fxFlex="25">
                收貨人姓名
            </div>
            <div fxFlex>
                {{ user_id }} - 周萬琪
            </div>
        </div>
        <div fxLayout="row">
            <div fxFlex="25">
                手機號碼
            </div>
            <div fxFlex>
                中國大陸 +86 18029034390
            </div>
        </div>
        <div fxLayout="row">
            <div fxFlex="25">
                電話號碼
            </div>
            <div fxFlex>
                中國大陸 +86  ( 可不用填寫 )
            </div>
        </div>
    </md-card-content>
</md-card>
