<div fxLayout="row" fxLayoutWrap="wrap">
    <div fxFlex="100">為可讓各會員更快提取貨件，建議可使用我們自取點服務。</div>
    
  <div fxFlex="100" fxFlex.gt-sm="50">
    <md-card class="p-0">
      <md-card-title class="m-0">
        <div class="card-title-text">葵涌自取點</div>
        <md-divider></md-divider>
      </md-card-title>
      <iframe width="400"
        height="450"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3689.625718231441!2d114.13492581436223!3d22.367757046096635!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3403f89b7039be8d%3A0x4c35ef881c33a454!2z6aaZ5riv6JG15raM5omT56Oa5Z2q6KGX5ZKM6LGQ5bel5qWt5Lit5b-D!5e0!3m2!1szh-TW!2s!4v1447239099789" allowfullscreen></iframe>
      
      <md-card-content class="p-1">
        <p>葵涌打磚坪街68號和豐工業中心14樓04B室<br>
        星期一至六：10:00 – 19:00<br>
        星期日及公眾假期休息<br>
        電話: 3184 0300</p>
      </md-card-content>
    </md-card>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="50">
    <md-card class="p-0">
      <md-card-title class=" m-0">
        <div class="card-title-text">粉嶺自取點</div>
        <md-divider></md-divider>
      </md-card-title>
      <iframe width="400"
        height="450"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3686.108344320891!2d114.1394794143646!3d22.500117841298877!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3403f61da5d9d05f%3A0xb74beba328fea241!2z5rW36IGv5buj5aC05ZWG5aC0!5e0!3m2!1szh-TW!2s!4v1447239073203" allowfullscreen></iframe>
      <md-card-content class="p-1">
        <p>粉嶺聯和墟海聯廣場133號鋪<br>
        星期一至六：12:00 – 19:00<br>
        星期日及公眾假期休息<br>
        電話: 9756 6655</p>
      </md-card-content>
    </md-card>
  </div>
  
  <div fxFlex="100" fxFlex.gt-sm="50">
    <md-card class="p-0">
      <md-card-title class="m-0">
        <div class="card-title-text">屯門自取點</div>
        <md-divider></md-divider>
      </md-card-title>
      <iframe 
        width="400"
        height="450"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3688.98656556445!2d113.97540333958192!3d22.39186389279158!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3403fb162c2491fd%3A0x4994a03115475b7c!2z6aaZ5riv5bGv6ZaA6I-v6YO95ZWG5aC0!5e0!3m2!1szh-TW!2s!4v1447238981031" allowfullscreen></iframe>
      <md-card-content class="p-1">
        <p>屯門屯利街1號華都商場地下42A號鋪<br>
        星期一至六：12:00 – 19:00<br>
        星期日及公眾假期休息<br>
        電話: 3184 0300</p>
      </md-card-content>
    </md-card>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="50">
    <md-card class="p-0">
      <md-card-title class=" m-0">
        <div class="card-title-text">大埔自取點</div>
        <md-divider></md-divider>
      </md-card-title>
        <iframe
          width="400"
          height="450"
          frameborder="0" style="border:0"
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBthGiUeCFUQPvxhwIYsx0pAgUmFXFxORM
            &q=大埔鄉事會街" allowfullscreen>
        </iframe>
      <md-card-content class="p-1">
        <p>大埔鄉事會街9/15號大日子廣場1樓109-110號<br>
        星期一至六：12:00 – 19:00<br>
        星期日及公眾假期休息<br>
        電話: 5282 4325</p>
      </md-card-content>
    </md-card>
  </div>
</div>
